<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    <style> * {
        box-sizing: border-box
    } </style>
</head>
<body>
<div todolist></div>
{{#each htmlWebpackPlugin.files.chunks }}
    <script type="text/javascript" src="{{this.entry}}"></script>
{{/each}}
</body>
</html>
